{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}
{% load l10n %}
{% load humanize %}

{% block titletag %}{% blocktrans with title=page.get_admin_display_title %}History of {{ title }}{% endblocktrans %}{% endblock %}

{% block content %}
    {% trans "History of" as heading_str %}
    {% include "wagtailadmin/shared/header.html" with title=heading_str subtitle=page.get_admin_display_title icon="doc-empty-inverse" %}

    <div class="nice-padding">
        <div id="revision-results" class="revisions">
            <table class="listing">
                <col width="100%" />

                <tbody>
                    {% if log_entries %}
                        {% page_permissions page as page_perms %}
                        {% for log_entry in log_entries %}
                            <tr>
                                <td class="title">
                                    <h2>
                                        <a href="{% url 'wagtail_audit:log_entry' page.id log_entry.id %}">
                                            <span class="unbold">
                                                {% if log_entry.user %}
                                                    <span class="avatar small"><img src="{% avatar_url revision.user size=25 %}" /></span>{{ log_entry.user }}
                                                {% else %}
                                                    [Deleted]
                                                {% endif %}
                                            </span>

                                            {{ log_entry.verbs }}

                                            {{ log_entry.time|naturaltime }}
                                        </a>
                                    </h2>

                                    {% if log_entry.data_json.comment %}
                                        <p style="padding-top: 5px;"><i>{{ log_entry.data_json.comment }}</i></p>
                                    {% endif %}

                                    {% with log_entry.revision as revision %}
                                        <ul class="actions">
                                            <li><a href="{% url 'wagtailadmin_pages:revisions_view' page.id revision.id %}" class="button button-small button-secondary" target="_blank" rel="noopener noreferrer">{% trans 'View' %}</a></li>
                                            {% if log_entry.created or log_entry.content_changed %}
                                                {% if revision == page.get_latest_revision %}
                                                    <li><a href="{% url 'wagtailadmin_pages:edit' page.id %}" class="button button-small button-secondary">{% trans 'Edit' %}</a></li>
                                                {% else %}
                                                    <li><a href="{% url 'wagtailadmin_pages:revisions_revert' page.id revision.id %}" class="button button-small button-secondary">{% trans 'Revert to this version' %}</a></li>
                                                {% endif %}
                                            {% endif %}
                                            {% if revision.approved_go_live_at and page_perms.can_unschedule %}
                                                <li><a href="{% url 'wagtailadmin_pages:revisions_unschedule' page.id revision.id %}" class="button button-small button-secondary">{% trans 'Cancel scheduled publish' %}</a></li>
                                            {% endif %}
                                        </ul>
                                    {% endwith %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% block no_results %}<tr><td class="no-results-message"><p>{% trans 'No logs of this page exist' %}</p></td></tr>{% endblock %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
